{% extends 'login_main.html' %}
<title>{% block title %}Add Pump{% endblock %}</title>
{% block body %}
<div class="container">
<form method="POST"id="myForm" enctype="multipart/form-data" >
  {% csrf_token %}
  
  <label for="fac_number">FAC Number:</label>
  <input type="text" class="form-control" name="fac_number" id="fac_number" required>
  
<label for="equipment">Equipment:</label>
<select name="equipment" id="equipment" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"required>
  <option value="" disabled selected></option>
  <option value="Pump">Pump </option>
  <option value="Side Channel Pump">Side Channel Pump </option>
  </select>

<label for="brand">Brand:</label>
<select name="brand" id="brand" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"required>
  <option value="" disabled selected></option>
  <option value="KOP">KOP</option>
  <option value="KOP Centrifugal Pump">KOP Centrifugal Pump </option>
  <option value="Griswold">Griswold </option>
  <option value="KOP Pump">KOP Pump </option>
  <option value="KOP Pump (Process Pump MAX3, 9196)">KOP Pump (Process Pump MAX3, 9196) </option>
  <option value="Richter Pump">Richter Pump </option>
  <option value="Sero">Sero </option>
  </select>

<label for="model_short">Model Short:</label>
<select name="model_short" id="model_short" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"required>
  <option value="" disabled selected></option>
  <option value="KCR">KCR</option>
  <option value="KDIN">KDIN</option>
  <option value="KISO">KISO</option>
  <option value="KOP">KOP</option>
  <option value="KOP9196">KOP9196</option>
  </select>

<label for="model">Size:</label>
<div>

<select name="size" id="size" name="size" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"required>

  <option value="" disabled selected></option>
  <option value="32-13">32-13</option>
  <option value="32-16">32-16</option>
  <option value="32-20">32-20</option>
  <option value="32-26">32-26</option>
  <option value="40-13">40-13</option>
  <option value="40-16">40-16</option>
  <option value="40-20">40-20</option>
  <option value="40-26">40-26</option>
  <option value="40-32">40-32</option>
  <option value="50-13">50-13</option>
  <option value="50-16">50-16</option>
  <option value="50-20">50-20</option>
  <option value="50-26">50-26</option>
  <option value="50-3">50-3</option>
  <option value="65-13">65-13</option>
  <option value="65-16">65-16</option>
  <option value="65-2">65-2</option>
  <option value="65-26">65-26</option>
  <option value="65-32">65-32</option>
  <option value="80-16">80-16</option>
  <option value="80-20">80-20</option>
</select>
</div>
<label for="rpm">RPM:</label>
<select name="rpm" id="rpm" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"required>
  <option value="" disabled selected></option>
  <option value="2900">2900</option>
  <option value="1450">1450</option>
  <option value="960">960</option>
  </select>



  <input type="file" name="excel_file" id="excelFileInput" accept=".xlsx" required>
<br>
<br>
<button type="submit" class="btn btn-success" id="submitButton">Submit</button>
<button type="button" id="backButton" class="btn btn-secondary">Back</button>

</form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const facNumberInput = document.getElementById("fac_number");
    
    // กำหนดค่าเริ่มต้นให้กับ input field เป็น "FAC"
    facNumberInput.value = "FAC-";
    
    facNumberInput.addEventListener("input", function () {
      // ถ้าค่าที่กรอกยาวมากกว่า 3 ตัวอักษร (รวม "FAC" ด้วย) ให้เอาเฉพาะตัวเลขที่เหลือ
      if (this.value.length > 3) {
        this.value = "FAC-" + this.value.substring(3).replace(/\D/g, "");
      }
    });
  });
</script>




      <script>
        document.getElementById("submitButton").addEventListener("click", function() {
          const fileInput = document.getElementById("excelFileInput");
          const file = fileInput.files[0];
          
          if (!file) {
            alert("กรุณาเลือกไฟล์ Excel ก่อนทำการ Submit");
            return;
          } else {
            console.log("ไฟล์ Excel ถูกเลือกแล้ว"); // เพิ่มคอนโซลเพื่อตรวจสอบ
          }
        });
      </script>
{% endblock %}